node_modules/
.next/
out/

*.local

.vscode/*

.env
.env.development
.env.production

package-lock.json
yarn.lock

tsconfig.tsbuildinfo

prisma/*
!prisma/dev.db
!prisma/prod.example.db
!prisma/schema.prisma